.logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo img {
  width: 15%;
  /* margin-left: 45%; */
  margin-bottom: 1rem;
}
.logo p {
  font-family: "Great Vibes", cursive;
  font-size: 64px;
  color: rgb(254, 112, 149);
  margin-top: 1rem;
}

.navbar-color {
  background-color: #2cc1c0;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: bold !important;
}

.cards {
  padding: 25px;
  margin: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.cards {
  margin: 15px;
}

.cards .card {
  border: none;
}

.card img {
  height: 350px;
  width: 100%;
}

.card-body {
  background-color: rgb(254, 112, 149);
  color: white;
  text-align: center;
}

.card-body a {
  color: white;
}
.card-body a:hover {
  color: white;
}

h1 {
  text-align: center;
  color: #3b0c14;
  padding: 2%;
  font-family: "Courgette", cursive;
}

.body {
  display: flex;
  justify-content: space-around;
}

.body img {
  width: 70%;
  margin: 75px;
  /* max-height: 500px; */
}

.body .recipe {
  padding-left: 25px;
  padding-right: 25px;
}

.body .recipe ul {
  line-height: 1.7;
}
.body .recipe ol {
  line-height: 1.7;
}

.body ul {
  list-style: none;
}

.body ul li::before {
  content: "\2022";
  color: #de8ba4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.body .recipe .container {
  border: gray 1px block;
}

.body .recipe {
  margin-bottom: 50px;
}

/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #2cc1c0 !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

#footer {
  display: flex;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
